@import "tailwindcss";
*{
  box-sizing: border-box;
}


.container{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
}
.column{
  border: 1px solid black;
  height: 100vh;
  width: 100%;
  padding: 2%;
}
.card{
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

